<a href="https://colab.research.google.com/github/heinerkace/GoodStart/blob/main/PythonProjectPortfolioKace.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Exploratory Data Analysis of Sales Data

We'll begin by importing the libraries we'll need.
Pandas and os

os will allow us to read all the data files listed in our chosen directory. This will come in handy when we combine the data files.

In [ ]:
import pandas as pd
import os

In [ ]:
#read in the first month of sales data to a dataframe
df = pd.read_csv('./sales_data/Sales_January_2019.csv')

Let's look at the data just to get a feel for what we're going to be combining.

In [ ]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

Next we'd like to combine all 12 data files into one dataframe.
First let's see what we have in the directory.
function We'll do this by osing the os listdir command.

In [ ]:
#read all files in the directory
files = [file for file in os.listdir('./sales_data')]

#Let's take a look at all the files in our directory.
for file in files:
  print(file)

Sales_August_2019.csv
Sales_January_2019.csv
Sales_November_2019.csv
Sales_May_2019.csv
Sales_March_2019.csv
Sales_September_2019.csv
Sales_October_2019.csv
Sales_February_2019.csv
Sales_April_2019.csv
Sales_July_2019.csv
Sales_December_2019.csv
Sales_June_2019.csv

We have 12 months of sales data.
Using a for loop, we'll concatenate all the files into one using the pandas **concat** function.

In [ ]:
#create a new dataframe named all_months_data
#all_months_data will hold our concatenated dataframes
all_months_data = pd.DataFrame()

for file in files:
  df = pd.read_csv('./sales_data/' + file)
  all_months_data = pd.concat([all_months_data, df])

###Now you can see, we've combined all our data files into one dataframe. Sweet!

In [ ]:
all_data = all_months_data

Let's clean our dataset before we start doing any analyis.

Let's do some simple commands to look for null values or duplicates. We also want to see if we need to change any of the datatypes.

In [ ]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186850 entries, 0 to 13621
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 10.0+ MB

If we look at this output, there are some pretty clear issues.
All of the datatypes for each of the columns are objects (strings)

There are a few of these columns we'd like to change datatypes datatypes:
  1. Order ID -> int32
  2. Quanity Ordered -> int32
  3. Price Each -> float
  4. Order Date -> datetime
  5. Month -> int32

Let's first convert the  Order ID and Quantity ordered to integer dtypes

Next let's convert Price each to a float dtype

Last we'll conver Order Date to a datetime dtype

In [ ]:
#use the to_number pandas method to convert the column values to int32 dtype.
#set errors = 'coerce' so that any values not able to be converted to int32 will be set to nan
all_data['Order ID'] = pd.to_numeric(all_data['Order ID'], errors='coerce').astype(pd.Int32Dtype())
all_data['Quantity Ordered'] = pd.to_numeric(all_data['Quantity Ordered'], errors='coerce').astype(pd.Int32Dtype())

#using the same method we can convert the Price Each column to a numeric but then set its type to a float
all_data['Price Each'] = pd.to_numeric(all_data['Price Each'], errors='coerce').astype(float)

Conver the Order Date Columns to datetime dtype

In [ ]:
#For the date time, we'll need to specify the format out data is in. This would be '%m/%d/%y %H:%M'
all_data['Order Date'] = pd.to_datetime(all_data['Order Date'], format = '%m/%d/%y %H:%M')

ValueError: time data "Order Date" doesn't match format "%m/%d/%y %H:%M", at position 211. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

It would seem we have an error with some of the rows when converting to datetime. This means some of the rows might have some values that aren't in our specified data format. We've been given row 211 as the first row with issues. Let's take a look at row 211.

In [ ]:
#Locating row 211
row_211 = all_data.iloc[211]

#print the columns of row 211
print(row_211 )

Order ID                        <NA>
Product                      Product
Quantity Ordered                <NA>
Price Each                       NaN
Order Date                Order Date
Purchase Address    Purchase Address
Name: 211, dtype: object

Like we suspected, this row doesn't seem to have any valuable information and some nans. Specifically our Order Date has the value 'Order Date.'

Let's check to see if there are any similar rows in the dataframe.

In [ ]:
all_data.isna().sum()

Order ID            900
Product             545
Quantity Ordered    900
Price Each          900
Order Date          545
Purchase Address    545
dtype: int64

We have more rows similar to row 211. Let's get rid of all of them.

In [ ]:
#use the dropna() method to get rid of all rows with nan values
all_data = all_data.dropna()

Let's try this again

In [ ]:
#For the date time, we'll need to specify the format out data is in. This would be '%m/%d/%y %H:%M'
all_data['Order Date'] = pd.to_datetime(all_data['Order Date'], format = '%m/%d/%y %H:%M')

<ipython-input-28-1b10dca5cac8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Order Date'] = pd.to_datetime(all_data['Order Date'], format = '%m/%d/%y %H:%M')

Let's list all our dtypes in the dataframe:

In [ ]:
all_data.dtypes

Order ID                     Int32
Product                     object
Quantity Ordered             Int32
Price Each                 float64
Order Date          datetime64[ns]
Purchase Address            object
dtype: object

Quickly check for null values

In [ ]:
all_data.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

**Great! We've cleaned up the dataset a bit!**

### Augment Data with additional Columns
I'd like to add a column specific to month that lists the month in a string format like 'January.'

Let's create a Dictionary to map the numbers to the month names.

In [ ]:
# Dictionary to map month numbers to month names
month_map = {
    1: 'January', 2: 'February', 3: 'March', 4: 'April',
    5: 'May', 6: 'June', 7: 'July', 8: 'August',
    9: 'September', 10: 'October', 11: 'November', 12: 'December'
}


#Create a new column 'Month' and set it's values to the corresponding month map using the dt.month.map method
all_data['Month'] = all_data['Order Date'].dt.month.map(month_map)

<ipython-input-34-e1d5ed1f4478>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data['Month'] = all_data['Order Date'].dt.month.map(month_map)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
4199,145212,Lightning Charging Cable,1,14.95,2019-02-01 00:36:00,"484 6th St, Dallas, TX 75001",February
4364,145372,AAA Batteries (4-pack),1,2.99,2019-02-01 04:02:00,"459 West St, Dallas, TX 75001",February
5475,146442,USB-C Charging Cable,1,11.95,2019-02-01 01:48:00,"229 West St, Los Angeles, CA 90001",February
6386,147309,Macbook Pro Laptop,1,1700.00,2019-02-01 01:01:00,"594 South St, Dallas, TX 75001",February
6760,147663,Lightning Charging Cable,1,14.95,2019-02-01 00:33:00,"96 Elm St, Boston, MA 02215",February
...,...,...,...,...,...,...,...
12031,162004,Apple Airpods Headphones,1,150.00,2019-02-12 22:02:00,"227 Church St, San Francisco, CA 94016",February
12032,162005,AAA Batteries (4-pack),2,2.99,2019-02-04 20:44:00,"417 Jefferson St, Los Angeles, CA 90001",February
12033,162006,USB-C Charging Cable,1,11.95,2019-02-24 06:31:00,"498 8th St, Atlanta, GA 30301",February
12034,162007,USB-C Charging Cable,1,11.95,2019-02-24 19:09:00,"715 7th St, Dallas, TX 75001",February
12035,162008,27in FHD Monitor,1,149.99,2019-02-26 17:15:00,"677 West St, Los Angeles, CA 90001",February